body {
    background-image: url("pics/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
 text-align: center;
    margin-top: 30px;}



img {
    margin: 10px;
}

button {
    margin: 10px;
    padding: 10px 20px;
}



h1 {
    margin-bottom: 25px;
    font-size: 70px;
    color: white;
}